---
import RealtimeApp from '~/components/realtime-app'
import '~/styles/global.css'
import { INSTRUCTIONS } from '~/lib/config'

const isPersonal = new URL(Astro.request.url).searchParams.get('mode') === 'personal'

const instructions = isPersonal ? '' : INSTRUCTIONS
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Agri Agent</title>
	</head>
	<body class="bg-zinc-900">
		<RealtimeApp instructions={instructions} client:load />
	</body>
</html>
