---
import RealtimeApp from '~/components/realtime-app'
import '~/styles/global.css'
import { ENGLISH_TUTOR, INSTRUCTIONS } from '~/lib/config'

const searchParams = new URL(Astro.request.url).searchParams

const isPersonal = searchParams.get('mode') === 'personal'

let instructions = isPersonal ? '' : INSTRUCTIONS

if(Astro.request.url.includes('english-tutor') || searchParams.get('m') === 'english-tutor') {
	instructions = ENGLISH_TUTOR
}

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Agri Agent</title>
	</head>
	<body class="bg-zinc-900">
		<RealtimeApp instructions={instructions} client:load />
	</body>
</html>
